.img-container {
  position: relative;
  width: 100px;
  background-color: aliceblue;
  margin: 5px;
}

.img-container .img2 {
  opacity: 0;
  transition: 0.5s;
}

.img-container:hover .img2 {
  opacity: 1;
}

.img-container img {
  display: block;
  position: absolute;
}
